<%- include('../partials/header.ejs') %>

<div class="card animate__animated animate__flipInY">
    <h1>All Requested Songs</h1>
    <% if (songs.length === 0) { %>
        <h1>There are no songs in the queue.</h1>
    <% } else { %>    
        <ul class="requestList">
            <% songs.forEach(song => { %>
                <li class="requestItem">
                    <!-- Only the owner of a song can have access to edit a song: -->
                    <% if (song.user && user && song.user._id.equals(user._id)) { %> 
                        <a href="/songs/<%= song._id %>"><%= song.title %></a>
                    <% } else { %>
                        <%= song.title %>
                    <% } %>
                    by <%= song.artist %><br>
                    <em>Requested by: <%= song.user ? song.user.name : 'Deleted User' %></em> &nbsp; &nbsp; | &nbsp; &nbsp; 
                    <a href="<%= song.youTubeURL %>" target="_blank">▶ Play</a> &nbsp; &nbsp; | &nbsp; &nbsp;
                    <!-- Only the owner of a song can delete a song in the queue: -->
                    <% if (song.user && user && song.user._id.equals(user._id)) { %>
                        <form action="/songs/<%= song._id %>?_method=DELETE" method="POST" style="display:inline;">
                            <button class="smallBtn" type="submit">❌ DELETE</button> 
                        </form>
                    <% } %>
                </li>
            <% }) %>
        </ul>
    <% } %>
    <a class="backLink" href="/songs/new" style="text-decoration: none;">➕ Request a New Song</a>
</div>

<%- include('../partials/footer.ejs') %>




