<%- include('../partials/_header') %>
<%- include('../partials/_navbar') %>

<div class="cardShow animate__animated animate__flipInY">
    <div class="songInfo">
        <h2><%= song.title %></h2>
        <p>by <%= song.artist %></p>
        <p><small><em>Suggested by: <%= song.suggestedBy %></small></em></p>
    </div>
    <div class="songActions">
        <p><a href="<%= song.spotifyLink %>" target="_blank" style="text-decoration: none;"> ▶ Listen on Spotify</a></p>

        <a href="/songs/<%= song._id %>/edit">Edit this Song</a>
        <form action="/songs/<%= song._id %>?_method=DELETE" method="POST" style="display:block;">
        <button type="submit">❌ Delete</button>
        </form>
    </div>
   
</div>
    <footer><a href="/songs">Cancel</a></footer>
</body>
</html>